.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.tank-parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
  padding: 20px 0;
  background-color: white;
}