.container {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  /* background-color: white; */
  /* padding: 20px; */
}

.tasks {
  background-color: white;
  padding: 20px;
}

.task-btn {
  width: 150px;
  background-color: rgb(183, 200, 214);
  border: 1px solid lightgray;
  height: 25px;
  border-radius: 4px;
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
  background-color: white;
}

.task-form {
  max-width: 300px;
  margin: 0 auto 0 auto;
}

.task-form input {
  border: 2px solid lightgrey;
  border-radius: 6px;
  min-height: 35px;
  min-width: 100px;
  width: 300px;
  padding-left: 10px;
}

.task-form label {
  display: block;
  text-align: left;
  font-size: 18px;
  color: rgb(85, 85, 85)
}