.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.database-data {
  /* border: 1px solid gray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
}

.db-img {
  height: 100%;
  width: 100%;
}

.img-container {
  height: 60%;
}

.database-data p {
  margin: 10px 0 0 0;
}