.tanknav {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.tanknav a {
  float: left;
  display: block;
  color: black;
  min-width: 50px;
  border-radius: 12px 12px 0 0;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tanknav li {
  float: left;
  display: block;
  color: black;
  min-width: 50px;
  text-align: center;
  font-size: 17px;
}

.tanknav a:hover {
  background-color: #ddd;
  color: black;
}

.tanknav .icon {
  display: none;
}

.active {
  background-color:white;
}