.container {
  max-width: 1200px;
  height: auto;
  margin: 50px auto;
  text-align: center;
}


.list-element {
  border: 2px solid rgb(87, 138, 165);
  width: 200px;
  max-width: 400px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
}

.tank-livestock {
  /* border: 1px solid gray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.tank-specs {
  list-style: none;
}

.livestock {
  border-radius: 12px;
  /* position: relative; */
}

.livestock p {
  margin: 10px 0 0 0;
}

.livestock button {
  margin-top: 20px;
}

.volume {
  margin-bottom: 0;
}

.tank-form {
  max-width: 300px;
  margin: 0 auto 0 auto;
}

.tank-form label {
  display: block;
  text-align: left;
  font-size: 18px;
  color: rgb(85, 85, 85)
}

.tank-form input {
  border: 2px solid lightgrey;
  border-radius: 6px;
  min-height: 35px;
  min-width: 100px;
  width: 300px;
}

.tank-img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.tank-img-container {
  height: 50%;
}

.text-container {
  height: 40%;
}
